body {
    font-family: Arial, sans-serif;
    background-color: #fcc203;
}

.hero {
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    color: rgba(242, 255, 1, 0.925);
    text-align: center;
    height: 800px;
    background-attachment: fixed; /* Parallax effect */
    background-repeat: no-repeat;
}

.parallax {
    background-attachment: fixed;
}

.video-section {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcc203;
}

.video-container {
    width: 90%;
    max-width: 1200px;
    background-color: black;
    padding: 20px;
    border: 1px solid #000;
}

video {
    width: 100%;
    height: auto;
    display: block;
    transform: scaleY(0.8); /* Reduce height by 20% */
}

.gallery {
    padding: 50px 0;
    background-color: #fcc203;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.gallery-item {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.order-btn {
    margin-top: 10px;
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.order-btn:hover {
    background-color: darkblue;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}
